@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./variables.scss";

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow-x: hidden;
  overflow-y: overlay;
  background-color: $black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: rgba($color: $gray, $alpha: 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  width: 8px;
  background: rgba($color: $gray, $alpha: 0.7);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

#root {
  width: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.container {
  width: 100%;
  max-width: Min(1280px, calc(100% - 48px));
}

.navbar-container {
  width: 100%;
  max-width: Min(1440px, calc(100% - 48px));
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
}

.shadowed {
  border: 2px solid rgba($color: $green, $alpha: 0.4) !important;
  box-shadow: 0 0 4px rgba($color: $green, $alpha: 0.4) !important;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 8px rgba($color: $green, $alpha: 0.6) !important;
  }
}

.rounded {
  border-radius: 16px;
  overflow: hidden;

  &-sm {
    border-radius: 12px;
    overflow: hidden;
  }

  &-lg {
    border-radius: 24px;
    overflow: hidden;
  }

  &-circle {
    border-radius: 50%;
    overflow: hidden;
  }
}

.ReactModal__Content {
  & h3 {
    font-size: 16px;
    margin: 8px 0 8px 0;
    color: $gray;
  }

  & h4 {
    margin: 4px 0 8px;
    color: $gray;
  }

  & > .modal-header {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba($color: $gray, $alpha: 0.1);

    & > svg {
      color: $gray;
      width: 12px;
      min-width: 12px;
      height: auto;
      height: intrinsic;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: $green;
      }
    }
  }

  & > .modal-wallets {
    grid-template: auto / 1fr 1fr;

    & > button {
      align-items: center;
      background-color: transparent;
      padding: 16px;
      border: 1px solid rgba(112, 112, 112, 0.1);
      cursor: pointer;

      &:hover {
        & > span {
          color: $green;
        }
      }

      & > div {
        width: 64px;
        height: 64px;
        min-height: 64px;
        align-items: center;
        justify-content: center;

        & > svg {
          min-height: 100%;
          height: auto;
          height: intrinsic;
        }
      }

      & > span {
        height: 100%;
        align-items: center;
        text-transform: uppercase;
        margin-top: 16px;
        font-size: 14px;
        font-weight: 600;
        color: $gray;
        transition: 0.3s;

        @media (max-width: 425px) {
          font-size: 12px;
        }
      }
    }
  }

  & > .modal-disconnect {
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 16px;

    & > button {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      cursor: pointer;
      border: none;
      margin-top: 24px;
      padding: 0 16px;
      column-gap: 24px;
      color: rgba($color: $gray, $alpha: 0.5);
      transition: 0.3s;

      &:hover {
        color: $green;
      }

      & > svg {
        width: 16px;
        min-width: 16px;
        height: auto;
        height: intrinsic;
      }

      & > span {
        height: 24px;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
